.accordion {
  display: block;
  width: 170px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &-item {
    display: block;
    border-bottom: solid 1px #ccc;
    &__list {
      padding: 0;
      li {
        list-style-type: none;
        font-weight: 500;
      }
    }
  }
  &-item:last-child {
    border-bottom: 0;
  }
}

.accordion__item + .accordion__item {
  border-top: none;
}

.accordion-item__header {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #ff9a11;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
  align-items: center;
}

.accordion-item__description {
  color: #999;
  display: flex;
  .icon-up-arrow {
    display: none;
  }
}

.accordion-item__header {
  padding: 6px;
}

.accordion-item__body{
  padding: 2px;
}

.accordion-item__header:hover {
  cursor: pointer;
  background-color: #eee;
}

.accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.menu-text {
  margin: 0;
  padding-left: 10px;
}

.accordion-item__description.open {
  .plus-icon {
    display: none;
  }
  .icon-up-arrow {
    display: flex;
  }
  transition-duration: 700ms;
}

.mat-icon {
  width: 16px;
  height: 16px;
}
