<div class="aside-container">
<p class="aside-container__header">Условные обозначения</p>
<div class="aside-container__icons">
  <div class="icon">
   <span> <img src="assets/img/icon-1.png" alt="icon">  </span>
<p>Почтовые документы</p>
  </div>
  <div class="icon">
    <span>  <img src="assets/img/icon-2.png" alt="icon">  </span>
    <p>FTP пользователя</p>
  </div>
  <div class="icon">
    <span><img src="assets/img/icon-3.png" alt="icon"></span>
    <p>Работа с файлами</p>
  </div>
  <div class="icon">
    <span>    <img src="assets/img/icon-4.png" alt="icon"></span>
    <p>Базы данных</p>
  </div>
  <div class="icon">
    <span>    <img src="assets/img/icon-5.png" alt="icon"></span>
    <p>Cron</p>
  </div>
  <div class="icon">
    <span>    <img src="assets/img/icon-7.png" alt="icon"></span>
    <p>Mail filter</p>
  </div>
  <div class="icon">
    <span>    <img src="assets/img/icon-7.png" alt="icon"></span>
    <p>Прикрепить домен</p>
  </div>
  <div class="icon">
    <span>    <img src="assets/img/icon-8.png" alt="icon"></span>
    <p>Создать алиас</p>
  </div>
  <div class="icon">
    <span>    <img src="assets/img/icon-9.png" alt="icon">  </span>
    <p>Создать поддомен</p>
  </div>
</div>
</div>
