<div class="table">
  <h1>Аккаунты хостинга</h1>
  <mat-card class="table-container">
    <div class="table-container__header">
  <div class="column account"><p>Аккаунт</p></div>
      <div class="column"><p class="statistic">Статистика</p>
      <div class="column column-cards">
        <p class="item-first">Занято/<br>всего (Mb)</p>
        <p class="item">Cron</p>
        <p class="item-1">MySQL</p>
        <p class="item">FTP</p>
      </div>
      </div>
      <div class="column state"><p>Состояние</p></div>
      <div class="column action"><p>Действия</p></div>
    </div>
    <div class="table-container__toolbar">
      <div class="column account"><p>srv164042</p><p>(Бета-SSD) </p></div>
      <div class="column column-cards"><p class="item-first">675.01 / <br>700</p><p class="item">0</p> <p class="item-1">1</p> <p class="item">0</p></div>
      <div class="column state"><a>Включен </a></div>
      <div class="column action"><img src="assets/img/icons.png" alt="icons"></div>
    </div>
    <mat-card-content>
      <div class="column account column-first">
        <p>IP-адрес</p>
        <p>Объем баз данных</p>
        <p>Объем почты</p>
        <p>Объем файлов</p>
        <p>Комментарии</p>
        <p>Услуга</p>
        <p>Логин</p>
        <p>Имя хоста SSH</p>
        <p>Пароль SSH</p>
        <p>Имя хоста MySQL</p>
        <p>Имя хоста PgSQL</p>
      </div>
      <div class="column">
        <p>31.28.24.122</p>
        <p>10.89 Mb</p>
        <p>522.43 Mb</p>
        <p>141.7 Mb</p>
        <p>Нет комментариев. <a class="link">(Изменить)</a></p>
        <p>Бета-SSD</p>
        <p>My Login</p>
        <p>host.ru</p>
        <p>скрыт <a class="link">(Изменить)</a><a class="link"> (Выключить)</a></p>
        <p>host.ru</p>
        <p>host.ru</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="column action">
        <p class="domain">Привязанные домены</p>
      </div>
      <div class="column">
   <div class="column-link">
     <p>shoku-yoku.ru</p>
     <p> <span>www.shoku-yoku.ru</span></p>
   </div>
        <div class="column-link">
          <p>srv164042.hoster-test.ru</p>
          <p> <span>www.srv164042.hoster-test.ru (alias)</span></p>
        </div>
        <div class="column-link">
          <p>сёкуёку.рф</p>
          <p> <span>www.сёкуёку.рф (alias)</span></p>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
